/target*
/output*
/infcraft/*
!/infcraft/resources*
/infcraft/saves
/infcraft/options.txt
*.dat

# compiled classes
*.class

# Maven output
**/out
**/gen
# keep the worldgen dir
!server/src/main/java/net/infcraft/core/world/gen
**/target

# IntelliJ
**/.idea
*.iml

# Eclipse
**/bin
*.prefs
*.project
*.classpath

# macOS
**.DS_Store

# VS Code
.vscode/

natives/
